# The ID of the sheet we are going to be making requests to
# this can be found in the URL of your Google Sheet
GOOGLE_SHEET_ID=
# Path to key file exposed from your GCP service account
GOOGLE_SHEET_KEY_FILE=./secrets.json

# SQL DB Config
DB_HOST=
DB_USER=
DB_PASS=
DB_DRIVER=
DB_PORT=
DB_NAME=
